@import "./variables";
@import "./reset";


html {
    font-family: $font-body;
    line-height: calc(23 / 16);

    @media only screen and (min-width: $viewport-phone) {
        line-height: calc(24 / 16);
    }

    @media only screen and (min-width: $viewport-tablet) {
        line-height: calc(26 / 16);
    }

    @media only screen and (min-width: $viewport-desktop) {
        line-height: calc(27 / 18);
    }
}

body {
    color: $theme-text;
}

h1, h2, h3 h4 {
    font-family: $font-heading;
    margin: 0.67em 0;
    font-size: 2em;
    line-height: 1.25em;

    @media only screen and (min-width: $viewport-desktop) {
        font-size: 3em;
        line-height: 1.05em;
    }
}


// Objects
@import "./object/container";
@import "./object/list-inline";

// Components
@import "./component/quote";
@import "./component/tags";
@import "./component/pagination";

// Utilities

// Grid example
section {
    div {
        background: #ff4726;
        margin-bottom: 16px;

        @media (min-width: $viewport-tablet) {
            float: left;
            width: calc(99.99% * 1 / 2 - (24px - 24px * 1 / 2));
            margin-right: 24px;
            margin-bottom: 24px;
            &:nth-child(2n),
            &:last-child {
                margin-right: 0;
            }
        }

        @media (min-width: $viewport-desktop) {
            width: calc(99.99% * 1 / 3 - (24px - 24px * 1 / 3));
            &:nth-child(2n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }

    }
}
