/*

http://www.pearsonified.com/typography/
http://www.gridlover.net/app/

320
f: 16px     - 14px
l: 23px     - 21px

480
f: 16px     - 14px
l: 24px     - 22px

720
f: 16px     - 17px
l: 26px     - 27px

760
f: 16px     - 17px
l: 27px     - 28px

*/

body {
    font-smoothing: antialiased;
    font-family: "Crimson Text", serif;

    @include rwd-typographic-scale(1, false);
}

p, ul, ol, pre, table, blockquote {
    @include rwd-typographic-margin(1);
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

// Headings
//.heading {
//    text-rendering: optimizeLegibility;
//    @include rwd-typographic-scale(4);
//}

.pageTitle {
    text-rendering: optimizeLegibility;
    @include rwd-typographic-scale(3);
}

.sectionHeader {
    text-rendering: optimizeLegibility;
    @include rwd-typographic-scale(2);
}

.subHeader {
    text-rendering: optimizeLegibility;
    @include rwd-typographic-scale(1);
}

.meta {
    text-rendering: optimizeLegibility;
    @include rwd-typographic-scale(0);
    font-style: italic;
}

blockquote {
    text-rendering: optimizeLegibility;
    @include rwd-typographic-scale(1);
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: 5px solid $color-green;

    p {
        margin-bottom: 0.25em;
    }

    .blockquote-cite {
        @include rwd-typographic-scale(0);
    }
}
