/*

http://www.pearsonified.com/typography/
http://www.gridlover.net/app/

320
f: 16px     - 14px
l: 23px     - 21px

480
f: 16px     - 14px
l: 24px     - 22px

720
f: 16px     - 17px
l: 26px     - 27px

760
f: 16px     - 17px
l: 27px     - 28px

*/

body {
    font-smoothing: antialiased;
}

p, ul, ol, pre, table, blockquote {
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

// Headings
//.heading {
//    text-rendering: optimizeLegibility;
//    @include rwd-typographic-scale(4);
//}

.pageTitle {
    text-rendering: optimizeLegibility;
}

.sectionHeader {
    text-rendering: optimizeLegibility;
}

.subHeader {
    text-rendering: optimizeLegibility;
}

.meta {
    text-rendering: optimizeLegibility;
    font-style: italic;
}

blockquote {
    text-rendering: optimizeLegibility;
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: 5px solid $color-green;

    p {
        margin-bottom: 0.25em;
    }

    .blockquote-cite {
    }
}
