// Links
a {
    outline: none;
    color: $color-blue;
    text-decoration: none;
    background-size: 2px 2px;
    background: linear-gradient(to bottom, rgba($color-blue, 0) 50%, rgba($color-blue, 0.6) 50%) repeat-x 0 1.1em;
    transition: color 0.2s;
    &:hover {
        color: $color-green;
    }
}

a {
    position: relative;
    margin: 0 0.25em;

    &:before,
    &:after {
        pointer-events: none;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        font-weight: 100;
        font-size: 150%;
        line-height: 1;
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
    }
    &:before {
        left: -0.25em;
        content: "[";
        transform: translateX(-100%);
    }
    &:after {
        top: auto;
        right: -0.25em;
        content: "]";
        transform: translateX(100%);
    }
    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: translateX(0);
    }
}
